// src/app/global.scss

// 1. Импортируем сброс стилей
@import '../styles/_reset.scss';

// 2. ВАЖНО: Импортируем переменные ВРУЧНУЮ.
// Так как мы отключили конфиг, это теперь обязательно здесь.
@import '../styles/_variables.scss';

// 3. Применяем глобальные стили к body
html, body {
  color: $color-text-dark; // Используем переменную
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: $font-family-body; // Используем переменную
}


// @import "../components/Header/Header.scss";
// @import "../components/HeroSection/HeroSection.scss";
// @import "../components/aboutSection/AboutSection.scss";
// @import "../components/problemSection/ProblemSection.scss";
// // Внимание на путь с кириллицей, убедись что папка называется именно так
// @import "../components/%D1%81onsequencesSection/ConsequencesSection.scss";
// @import "../components/servicesSection/ServicesSection.scss";
// @import "../components/approachSection/ApproachSection.scss";
// @import "../components/resultSection/ResultSection.scss";
// @import "../components/rewiewsSection/ReviewsSection.scss";
// @import "../components/processSection/ProcessSection.scss";
// @import "../components/FAQSection/FAQSection.scss";
// @import "../components/FinalCTASection/FinalCTASection.scss";
// @import "../components/footer/Footer.scss";

// @import "../components/GooeyButton/GooeyButton.scss";
// @import "../components/ContactModal/ContactModal.scss";